@media (max-width: 991.98px) { 
    .desktop-header-section{display:none}
   
 }

 @media (max-width: 400.98px) { 
    
    .slider-bottom-section {
        height: 1078px !important;
    }
     
    
  }

 @media (max-width: 575.98px) { 
    .top-category-body {     
        top: -344px;       
        background: rgba(0,0,0,.3);
        height: 345px;       
        padding-top: 183px;       
    }
    
    .slider-bottom-section {
        height: 1078px !important;
    }
    .slider-section img {
        height: 160px;
    }
    .slider-bottom-section img {
        height: 417px;
        margin-bottom: 196px;
    }
    .slider-bottom-section h2 {
   
        margin-top: -1134px; 
    }
    .slider-bottom-content {
        padding: 151px 115px    !important;
     }
     .single-slider-bottom-section {
        
        height: 319px;
        
    }
    .top-category-section {
        max-height: 360px !important;
    }
   
    
  }


  @media (max-width: 767.98px) { 
    .slider-section img {
        height: 294px !important;
    }  
    .slider-section{margin-bottom: -13px;}
    .slider-bottom-section{
        height: 561px ;
}
.slider-bottom-content {
    padding: 143px 81px;
    
}
   }


   @media (max-width: 991.98px) { 
    .slider-section img {
        height: 210px !important;
    }
    .px-5 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    .single-top-category-section:hover img{
        -webkit-transform: none !important;
        transform: none !important;
        transition: all .4s ease-in-out;
    overflow:unset !important;}
       
    }
 