*{padding: 0;
    margin: 0;}
    a {
        color: #555555  !important;
    }
    .desktop-header-section{height: 70px;}
    .desktop-header-section .search-holder .fa-search{
        position: relative;
    float: right;
    top: -27px;
    left: -5px;
    } 
.desktop-main-menu ul{
    padding: 0;
    position: absolute;
    list-style-type: none;
    margin: -9px 0 0;
        margin-left: 0px;
    background-color: #fff;
    z-index: 10;
  
    margin-left: 22px;
    
}
 
.desktop-main-menu  ul li{

    padding: 7px 8px;
    border-bottom: 1px solid #ddd;
}


.desktop-main-menu  ul li ul li{

     border-bottom:none;
}
 
.desktop-main-menu li a{
    margin-top: -3px;
    width: 240px;
    display: block;
    color: #000;
    padding: 5px 17px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  
    font-size: 13px;
    text-transform: capitalize;
    
}

.desktop-main-menu ul li:last-child{
    
    border-bottom: none;
     
    
}
.desktop-main-menu li a span{
    color: black;
position: absolute;
margin-top: 4px;
 font-weight: normal;
 right: 13px;
}


.desktop-main-menu ul li ul{
  display: none;
}

.desktop-main-menu  li:hover ul{
    list-style: none;
    display: block;
    background-color: white;
    position: absolute;
    left: 234px;
    width: 250px !important;
    top: 9px;
    border-left: 1px solid #ddd;
    height: auto;
}


.desktop-main-menu ul li ul p{
    color: black;
font-weight: bold;
margin-left: 25px;
margin-bottom: 0px;
}


.desktop-main-menu ul li ul li a{
   
    width: 242px  !important;
    padding: 7px 24px;
    border: none;
   
}

.desktop-main-menu ul li ul li a:hover{
   
   background-color: rgb(249, 247, 247);
   
}

    .menu-right-side-icon {float:right}
    .menu-right-side-icon a{padding: 5px 10px;font-size: 18px;text-decoration:none;}
    .swiper-section p{font-size: 13px;
        font-weight: normal;}
     .desktop-category-menu-icon{background: #3a3939;padding: 8px;}
     .desktop-nav-bar{height:55px;}
     .slider-section img{height: 450px;}
     .slider-bottom-section img{height: 384px;}
     .single-slider-bottom-section{
       
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        overflow: hidden;}
        .slider-bottom-section{
            height: 176px;
    }
     
     .slider-bottom-body{
        position: absolute;
        color: white;
        
        }
        .single-slider-bottom-section:hover .slider-bottom-content{
         
            background: 0 0;
            opacity: 1; 
        }
        .slider-bottom-content{
            padding: 143px 91px;
            opacity: 0;
            background: rgba(0,0,0,.25);
            opacity: 1; 
        }
     .slider-bottom-section p{
        position: relative;
        text-align: center;
        
        color: white;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: bold;
     }

     .slider-bottom-section a{
        position: relative;
        text-align: center;
        color: white;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: bold;
        background: #6b4e48;
        
        color: white !important;
        padding: 7px;
        cursor: pointer;
        }
        .product-block-quick-quickshop{
            width: 43px;
            height: 43px;
            display: block;
            position: absolute;
            top: 0px;
            right: 6px;
            margin-top: 18px;
            background: white;
            padding: 9px 13px;
            border-radius: 50%;
           
            box-shadow: 0 0 6px -4px #000;
        }
        .product-block-quick-compare{
            width: 43px;
            height: 43px;
            display: block;
            position: absolute;
            top: 0px;
            right: 6px;
            margin-top: 70px;
            background: white;
            padding: 9px 13px;
            border-radius: 50%;
           
            box-shadow: 0 0 6px -4px #000;
        }

        .product-block-quick-stock{
            display: block;
            position: absolute;
            top: 208px;
            margin-top: 70px;
            background: white;
            padding: 9px 13px;
            color: green !important;
            -webkit-box-shadow: 0 0 6px -4px #000;
            box-shadow: 0 0 6px -4px #000;
            text-decoration: none;

        }
        .Featured-products {margin-top:235px}
        .home-fesured-product:hover  {  
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

        .home-fesured-product .card-hidden{display: none;}
        .home-fesured-product:hover .card-hidden{display: block;}
        .Featured-products-heading a{font-size: 16px;}
        .Featured-products-heading{margin-top:10px}
        .card-section button{
            font-size: 14px;
padding: 0 15px;
line-height: 36px;
display: inline-block;
background: #333333;
margin-left: 5px;
border:none;
color:white
        }
        .home-fesured-product-right-first{
            background: rgba(155,155,155,.05) !important;border: 0;height: auto;
        }
        .home-right-view{background: #333333 !important;
            border: none !important;
            width: 35px;
            height: 33px;
            color: white !important;
            padding: 5px 11px;
            display: block;
            border-radius: 10%;}
.single-home-right-product{
    background: rgba(155,155,155,.05);
    margin-bottom: 10px;
    padding: 15px;
}
.single-home-right-product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.top-category-body a {color: white !important;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;}
    .main-category-section .top-main-category-body  {
        text-align: center;
        position: relative;
        margin-top: -298px;        
        background: rgba(0,0,0,.3);
        width: 100%;
        height: 295px;
        align-items: center;
        padding-top: 131px;
        border-radius: 4px;
        
    }

    .main-category-image-left{       
        height: 170px;
        overflow: hidden;    
    }

    .main-category-right-category-name{
      
        background: #ccc6c6;
        padding: 62px;
    }
    .main-category-section .image-holder{
        position: relative;
        overflow: hidden;
    }
    .main-category-section {
        margin-bottom:20px ;
    }
    
    .main-category-section:hover .image-holder img {
        transform: scale(1.1,1.1);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
 
    }
    .main-category-section:hover .top-main-category-body {
        background: none;

    }
.top-category-body  {
    text-align: center;
    position: relative;
    top: -294px;
color: white;
background: rgba(0,0,0,.3);
width: 100%;
height: 296px;
align-items: center;
padding-top: 157px;
border-radius: 4px;
}
.top-category-section .single-top-category-section{overflow: hidden;}
.top-category-section .single-top-category-section img{overflow: hidden;}


 .single-top-category-section:hover img{-webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    transition: all .4s ease-in-out;overflow: hidden;}
.top-category-section:hover .top-category-body{background:none}
.top-category-section{max-height: 200px;}
.brand-section{margin-top: 109px !important;}

.socials {
    margin-top: 40px
}

.socials a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: Center;
    font-size: 14px;
    padding: 0 !important;
    border-radius: 100%;
    background: #6f6262;
    color: white !important;
}

.socials ul {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    display: inline-block
}

.socials ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0
}

.socials ul li:last-child {
    margin-right: 0
}

.socials ul li a:hover {
    color: #fff
}

.socials .social-fb:hover {
    background-color: #3b5998
}

.socials .social-twitter:hover {
    background-color: #1da1f2
}

.socials .social-yt:hover {
    background-color: #cc181e
}

.socials .social-insta:hover {
    background-color: #a57d60
}

.socials .social-tumblr:hover {
    background-color: #36465d
}

.socials .social-pinterest:hover {
    background-color: #cb2027
}

.socials .social-rss:hover {
    background-color: #faa21b
}
.footer h3{
    color: #f9f9f9;
    margin-bottom: 15px;
font-size: 1.1em;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li a {
    display: inline-block;
    padding: 2px 0;
    text-decoration: none;
}
.footer, footer, .footer a, footer .copyright a, footer .shop-rating {
    color: #cfcfcf !important
}
.socials ul li a:hover {
    color: #fff
}
.payment-icons {
    background-image: url("payment-icons.png")
}

.payment-icons.light {
    background-image: url("payment-icons-light.png")
}

.payment-icons {
    display: inline-block;
    height: 30px;
    width: 50px;
    margin-right: 5px;
    background-size: 100% auto;
    margin-right: 10px
}

.payment-icons-cart .payment-icons {
    margin-right: 10px
}

.payment-icons:last-child {
    margin-right: 0
}

.payment-icons.icon-payment-acceptgiro {
    background-position: 0 0
}

.payment-icons.icon-payment-achterafbetale {
    background-position: 0 -30px
}

.payment-icons.icon-payment-afterpay {
    background-position: 0 -60px
}

.payment-icons.icon-payment-alfabank {
    background-position: 0 -90px
}

.payment-icons.icon-payment-americanexpress {
    background-position: 0 -120px
}

.payment-icons.icon-payment-banktransfer {
    background-position: 0 -150px
}

.payment-icons.icon-payment-betaalnaontvangst {
    background-position: 0 -180px
}

.payment-icons.icon-payment-cartebleue {
    background-position: 0 -210px
}

.payment-icons.icon-payment-clickandbuy {
    background-position: 0 -240px
}

.payment-icons.icon-payment-cash {
    background-position: 0 -1620px
}

.payment-icons.icon-payment-dankort {
    background-position: 0 -270px
}

.payment-icons.icon-payment-directdebit {
    background-position: 0 -300px
}

.payment-icons.icon-payment-directebanki {
    background-position: 0 -330px
}

.payment-icons.icon-payment-discover {
    background-position: 0 -360px
}

.payment-icons.icon-payment-dotpay {
    background-position: 0 -390px
}

.payment-icons.icon-payment-ebo {
    background-position: 0 -420px
}

.payment-icons.icon-payment-ecare {
    background-position: 0 -450px
}

.payment-icons.icon-payment-ecelv {
    background-position: 0 480px
}

.payment-icons.icon-payment-empayment {
    background-position: 0 -510px
}

.payment-icons.icon-payment-eps {
    background-position: 0 -540px
}

.payment-icons.icon-payment-fashioncheque {
    background-position: 0 -570px
}

.payment-icons.icon-payment-giftcard {
    background-position: 0 -600px
}

.payment-icons.icon-payment-giropay {
    background-position: 0 -630px
}

.payment-icons.icon-payment-ideal {
    background-position: 0 -660px
}

.payment-icons.icon-payment-incasso {
    background-position: 0 -690px
}

.payment-icons.icon-payment-invoice {
    background-position: 0 -720px
}

.payment-icons.icon-payment-ippies {
    background-position: 0 -750px
}

.payment-icons.icon-payment-klarna {
    background-position: 0 -780px
}

.payment-icons.icon-payment-maestro {
    background-position: 0 -810px
}

.payment-icons.icon-payment-mailru {
    background-position: 0 -840px
}

.payment-icons.icon-payment-mastercard {
    background-position: 0 -870px
}

.payment-icons.icon-payment-minitix {
    background-position: 0 -900px
}

.payment-icons.icon-payment-mistercash {
    background-position: 0 -930px
}

.payment-icons.icon-payment-multisafepay {
    background-position: 0 -960px
}

.payment-icons.icon-payment-nordea {
    background-position: 0 -990px
}

.payment-icons.icon-payment-onlinegiro {
    background-position: 0 -1020px
}

.payment-icons.icon-payment-onlinetransfer {
    background-position: 0 -1050px
}

.payment-icons.icon-payment-paypal {
    background-position: 0 -1080px
}

.payment-icons.icon-payment-paysafecard {
    background-position: 0 -1110px
}

.payment-icons.icon-payment-phone {
    background-position: 0 -1140px
}

.payment-icons.icon-payment-postfinance {
    background-position: 0 -1170px
}

.payment-icons.icon-payment-przelewy24 {
    background-position: 0 -1200px
}

.payment-icons.icon-payment-qiwi {
    background-position: 0 -1230px
}

.payment-icons.icon-payment-rembours {
    background-position: 0 -1260px
}

.payment-icons.icon-payment-ukash {
    background-position: 0 -1290px
}

.payment-icons.icon-payment-visa {
    background-position: 0 -1320px
}

.payment-icons.icon-payment-visadebit {
    background-position: 0 -1350px
}

.payment-icons.icon-payment-visaelectro {
    background-position: 0 -1380px
}

.payment-icons.icon-payment-vpay {
    background-position: 0 -1410px
}

.payment-icons.icon-payment-wallie {
    background-position: 0 -1440px
}

.payment-icons.icon-payment-webmoney {
    background-position: 0 -1470px
}

.payment-icons.icon-payment-webshopgiftcard {
    background-position: 0 -1500px
}

.payment-icons.icon-payment-yourgift {
    background-position: 0 -1530px
}

.payment-icons.icon-payment-afterpay_nl_b2c_digital_invoice,.payment-icons.icon-payment-afterpay_nl_b2c_direct_debit,.payment-icons.icon-payment-afterpay_nl_b2b_digital_invoice,.payment-icons.icon-payment-afterpay_be_b2c_digital_invoice {
    background-position: 0 -60px
}

.payment-icons.icon-payment-pi {
    background-position: 0 -1560px
}

.payment-icons.icon-payment-postnl {
    background-position: 0 -1590px
}

.payment-icons.icon-payment-bitcoi {
    background-position: 0 -1650px
}

.payment-icons.icon-payment-belfius {
    background-position: 0 -1680px
}

.payment-icons.icon-payment-kbc {
    background-position: 0 -1710px
}

.payment-icons.icon-payment-bunq {
    background-position: 0 -1740px
}

.payment-icons.icon-payment-creditcard {
    background-position: 0 -1770px
}

.payment-icons.icon-payment-vvvgiftcard {
    background-position: 0 -1800px
}

.payment-icons.icon-payment-inghomepay {
    background-position: 0 -1830px
}

.payment-icons.icon-payment-klarnapaylater {
    background-position: 0 -1860px
}

.payment-icons.icon-payment-cartesbancaires {
    background-position: 0 -1890px
}




     